body {
    background: #73000a;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
h1, h2, h3, p, a {
    color: #FFFFFF;
    text-align: center;
}
.project img {
    margin: auto;
    display: block;
}
#affinityimage {
    width: 500px;
    height: auto;
}
